<div class="container-dropdown">
    <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img class="users-gear" src="../../../assets/icons/users-gear-solid.svg" alt="" srcset="">
          User Connected
        </button>
        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item " routerLinkActive="active" routerLink="#" >Connected User</a></li>
            <hr class="dropdown-divider">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="#" >Calcul rapide</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="#" >Paramètre</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/pages">Log out</a></li>
        </ul>
      </div>
</div>
<div class="container-breadcrumb">
  <nav aria-label="breadcrumb" class="container-list">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" routerLink = "/pages" >Accueil</li>
        <!-- <li class="breadcrumb-item" routerLink = "/pages" (click)="handleClick()">Accueil</li> -->
        <!-- <li class="breadcrumb-item active" aria-current="page">{{routeActive}}</li> -->
        <li class="breadcrumb-item active" aria-current="page">Routeactive</li>
  </ol>
  </nav>
</div>